<h2>Edit Post</h2>
  <form class='form blog-form'>
    <div class="form-group">
      <label class="col-form-label" for="blog-title">{{blogs.title}}</label>
      <input type="text" class="form-control" placeholder="Blog title" id="blog-title">
    </div>
    <div class="form-group">
      <label class="col-form-label" for="blog-content">{{blogs.content}}</label>
      <input type="text" class="form-control" placeholder="Blog content" id="blog-content">
    </div>
    <div class='form-group'>
      <button class='btn btn-primary' type='submit'>Update</button>
    </div>
</form>
<script src='/js/editblog.js'></script>

