<div class='row'>
  <div class='col-md-8'>
    <div class='card bg-secondary'>
      <div class='card-body'>
        <h2>Create new user</h2>
        <form class='form signup-form'>
          <div class='form-group'>
            <label for='name-signup'>username:</label>
            <input class='form-control' type='text' id='name-signup' />
          </div>
          <div class='form-group'>
            <label for='email-signup'>email:</label>
            <input class='form-control' type='email' id='email-signup' />
          </div>
          <div class='form-group'>
            <label for='password-signup'>password:</label>
            <input class='form-control' type='password' id='password-signup' />
          </div>
          <div class='form-group py-2'>
            <button class='btn btn-primary w-100' type='submit'>create user</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src='/js/signup.js'></script>